﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top ">
        <div class="container">
            <div class="col-md-8">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("KADINİZM", "Index", "Home", null, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Ana Sayfa", "Index", "Home")</li>
                        <li>@Html.ActionLink("Hakkımızda", "About", "Home")</li>
                        <li>@Html.ActionLink("İletişim", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Kurallar", "ForumRules", "Home")</li>

                    </ul>
                    <div class="container">
                        <div style="margin-top:10px;">
                            <div class="col-md-4">
                                <a href="@Url.Action("Login","Account")" class="btn btn-primary" role="button" aria-label="Giriş Yapmak İçin tıklayınız">
                                    Giriş Yap
                                </a>
                                
                                <a href="@Url.Action("Register","Account")" class="btn btn-success" role="button" aria-label="Kayıt Olmak İçin tıklayınız">
                                    KayıtOl
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div style="padding-top:10px;"
                <div class="nav navbar-nav navbar-right col-md-4">
                    <div class="col-md-3">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    TR
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li><a href="#">ENG</a></li>
                                </ul>
                            </div>
                    </div>
                    <div class="col-md-9">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Ara</button>
                            </span>
                            <input type="text" class="form-control" placeholder="Arama" />
                        </div>
                    </div>
                </div>
                @*@Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="panel panel-default">
                <div class="panel-body">
                    <p style="margin:0;">&copy; @DateTime.Now.Year - KADINİZM</p>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
