﻿@model Kadınizm.Models.LoginViewModel

@{
    ViewBag.Title = "Giriş Yapınız";
}

<div class="panel-group">
    <div class="panel panel-danger">
        <div class="panel-heading">
            <div style="margin-top:10px;">
                <center><strong><h1>Giriş Yap</center></h1></strong>
            </div>
        </div>
    </div>
</div>

<div style="padding-top:10px;"
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Lütfen giriş yapınız</h3>
                    </div>
                    <div class="panel-body">
                        <form accept-charset="UTF-8" role="form">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="E-mail" name="email" type="text">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Şifre" name="password" type="password" value="">
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input name="remember" type="checkbox" value="Remember Me"> Beni Hatırla
                                    </label>
                                </div>
                                <input class="btn btn-lg btn-success btn-block" type="submit" value="Giriş Yap">
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
