﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
    <!-- Website CSS style -->
    <link rel="stylesheet" type="text/css" href="assets/css/main.css">
    <!-- Website Font style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <title>Admin</title>
</head>
@{
    ViewBag.Title = "ÜyeOl";
}

<body>


    <center>
        <div class="container">
            <div class="row main">
                <div class="col-md-12">
                    <div class="panel-group">
                        <div class="panel panel-danger">
                            <div class="panel-heading">
                                <div style="margin-top:10px;">
                                    <center><strong><h1>Üye Ol</center></h1></strong>
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="main-login main-center">
                            <form class="form-horizontal" method="post" action="#">
                                <div class="form-group">
                                    <label for="name" class="cols-sm-2 control-label">İsim</label>
                                    <div class="cols-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                            <input type="text" class="form-control" name="name" id="name" placeholder="İsminizi Giriniz" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="email" class="cols-sm-2 control-label">E-Mail</label>
                                    <div class="cols-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                            <input type="text" class="form-control" name="email" id="email" placeholder="Mail Adresi Giriniz" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="username" class="cols-sm-2 control-label">Kullanıcı Adı</label>
                                    <div class="cols-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                                            <input type="text" class="form-control" name="username" id="username" placeholder="Kullancı Adı Giriniz" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password" class="cols-sm-2 control-label">Şifre</label>
                                    <div class="cols-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                            <input type="password" class="form-control" name="password" id="password" placeholder="Şifre Giriniz" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="confirm" class="cols-sm-2 control-label">Şifreyi Tekrar Giriniz</label>
                                    <div class="cols-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                            <input type="password" class="form-control" name="confirm" id="confirm" placeholder="Şifrenizi Tekrar Giriniz" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <button type="button" class="btn btn-primary btn-lg btn-block login-button">Üye Ol</button>
                                </div>
                                <div class="login-register">
                                    <a href="@Url.Action("Login","Account")" class="btn btn-primary "  role="button" aria-label="Giriş Yapmak İçin tıklayınız">
                                        Giriş Yap
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
            </div>
        </div>
    </center>
    <script type="text/javascript" src="assets/js/bootstrap.js"></script>
</body>
</html>