﻿@{
    ViewBag.Title = "Hakkımızda";
}


<div class="container">
    <div class="row danger" style="text-align:center;">
        <div class="col-xs-12 alert alert-danger">
            <div style="margin-top:10px;">
                <center><strong><h1>Hakkımızda</center></h1></strong>
            </div>
        </div>
    <div class="resume">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                <div class="panel panel-default">
                    <div class="panel-heading resume-heading">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-xs-12 col-sm-4">
                                    <figure>
                                        <img class="img-circle img-responsive" alt="" src="/Image/profil2.jpg">
                                    </figure>

                                    <div class="row">
                                        <div class="col-xs-12 social-btns">

                                            <div class="col-xs-3 col-md-1 col-lg-1 social-btn-holder">
                                                <a href="#" class="btn btn-social btn-block btn-google">
                                                    <i class="fa fa-google"></i>
                                                </a>
                                            </div>

                                            <div class="col-xs-3 col-md-1 col-lg-1 social-btn-holder">
                                                <a href="#" class="btn btn-social btn-block btn-facebook">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </div>

                                            <div class="col-xs-3 col-md-1 col-lg-1 social-btn-holder">
                                                <a href="#" class="btn btn-social btn-block btn-twitter">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </div>

                                            <div class="col-xs-3 col-md-1 col-lg-1 social-btn-holder">
                                                <a href="#" class="btn btn-social btn-block btn-linkedin">
                                                    <i class="fa fa-linkedin"></i>
                                                </a>
                                            </div>

                                            <div class="col-xs-3 col-md-1 col-lg-1 social-btn-holder">
                                                <a href="#" class="btn btn-social btn-block btn-github">
                                                    <i class="fa fa-github"></i>
                                                </a>
                                            </div>

                                            <div class="col-xs-3 col-md-1 col-lg-1 social-btn-holder">
                                                <a href="#" class="btn btn-social btn-block btn-stackoverflow">
                                                    <i class="fa fa-stack-overflow"></i>
                                                </a>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                                <div class="col-xs-12 col-sm-8">
                                    <ul class="list-group">
                                        <li class="list-group-item">Uygar Keser</li>
                                        <li class="list-group-item">Bilgisayar Mühendisi</li>
                                        <li class="list-group-item">Google Inc. </li>
                                        <li class="list-group-item"><i class="fa fa-phone"></i> 000-000-0000 </li>
                                        <li class="list-group-item"><i class="fa fa-envelope"></i> uygarkeser96@gmail.com</li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bs-callout bs-callout-danger">
                        <span class="label label-success"<h1>Özet</h1></span>
                        <p>
                            2015 girişli Sakarya Üniversitesinde eğitimine hala devam etmektedir
                        </p>
                    </div>
                    <div class="bs-callout bs-callout-danger">
                        <span class="label label-success"<h1>İlgi Alanları</h1></span>
                        <p>
                            Yazılım Mühendisliği,Makine öğrenme,Görüntü işleme,
                            Bilgisayar görüşü,Yapay Sinir Ağları,Veri Bilimi,
                            Evrim Algoritmaları.
                        </p>
                    </div>

                    

                    <div class="bs-callout bs-callout-danger">
                        <span class="label label-success"<h1>Öğrenim Hayatı</h1></span>
                        <table class="table table-striped table-responsive ">
                            <tbody>
                                <tr>
                                    <td>Akhisar Anadolu Lisesi</td>
                                    <td>2010-2014</td>
                                </tr>
                                <tr>
                                    <td>Sakarya Üniversitesi Bilgisayar Mühendisliği</td>
                                    <td>2015-</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
