﻿@{
    ViewBag.Title = "İletişim";
}


<div class="panel-group">
    <div class="panel panel-danger">
        <div class="panel-heading">
            <div style="margin-top:10px;">
                <center><strong><h1>İletişim</center></h1></strong>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row-fluid">
        <div class="col-md-7">
            <div class="span8">
                <div style="margin-top:10px;">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.955318873433!2d30.330578114962748!3d40.74100867932872!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ccadf2977958d7%3A0xc7996fa884f94c03!2sSakarya+%C3%9Cniversitesi!5e0!3m2!1str!2str!4v1481832172808" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="span4">
                <h2>Adres</h2>
                <address>
                    <strong>Sakarya Üniversitesi Esentepe Kampüsü 54187 Serdivan / SAKARYA</strong><br>
                    İletişim Koordinatörlüğü [ uygarkeser96@gmail.com ]<br>
                    Türkiye<br>
                    <abbr title="Phone">P:</abbr> +90 (264) 295 54 54
                </address>
            </div>
        </div>
        

        
    </div>
</div>