﻿@{
    ViewBag.Title = "Forum Kuralları";
}


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ForumRules</title>
</head>
<body>
    <div class="panel-group">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <div style="margin-top:10px;">
                    <center><strong><h1>Forum Kuralları</center></h1></strong>
                    1) Bu forumların yöneticileri ve moderatörleri her ne kadar, her türlü uygunsuz ve itiraz edilebilecek içerik ve materyali olabildiğince kısa sürede forumdan silecek olsalar da, bütün mesajların incelenmesi mümkün olamayabilmektedir. Forumlara gönderilen her mesaj, onu gönderenin görüşlerini yansıtmakta ve yazarının sorumluluğu altında olup, kendilerine ait mesajlar dışında moderatörler, adminler ya da webmasterlar kullanıcı mesajlarının içeriğinden dolayı sorumlu tutulamazlar.<br><br />

                    2) Forumlarımızda, aşağılayıcı, alaycı, başkalarını küçümseyen, adminlere veya kullanıcılara saygısızlık içeren, müstehcen, kaba, iftira niteliğinde, nefret dolu, tehdit edici, huzursuzluk çıkartmaya yönelik, yayınlarla ilgili spoiler içeren mesajlar, başka kullanıcıların kimliğini açıklayıcı, adult içerik, kopya yazılım, warez, crack, nocd, şifre kırma, Türkiye Cumhuriyeti yasalarına, uluslararası kanun, tüzük veya anlaşmalara, ülkemiz çıkarlarına, kişilik haklarına veya genel toplum ahlak kurallarına aykırı, din, dil, ırk, cinsiyet ve benzeri ayrımcılıkları destekleyen konular açmak ve içerikler göndermek, linkler vermek ve tartışmaları amacının dışına ve diğer kullanıcıları rahatsız edecek boyutlara taşımak yasaktır.  Her mesajın IP adresi ve giriş tarihi gerektiğinde yetkili makamlara verilmek üzere kaydedilmektedir. Kullanıcılar, bu forumun moderatörlerinin, adminlerinin veya webmasterının, kendi iradeleri doğrultusunda herhangi bir başlığı silme, taşıma, kilitleme yetkisi olduğunu kabul etmektedirler. Kullanıcılar, girdikleri her bilginin veritabanında saklanacağını kabul etmektedirler. Her ne kadar bu bilgiler, 3. şahıslara verilmeyecek olsalar da, herhangi bir 'hack' olayı sonucunda bu bilgilerin 3. şahısların eline geçmesi halinde, webmaster, moderatör ya da adminler sorumlu tutulamazlar.<br><br />

                    3) Forumumuz orijinal yazılım kullanımını desteklemekte ve önermektedir. Gerek site yapısında, gerek ise birlikte çalışılan sunucuda lisanslı işletim sistemleri, yazılımlar kullanılmaktadır. Kullanıcılarımıza da, sevdikleri yazılımların orijinalini almalarını ve kullanmalarını tavsiye ediyoruz.<br><br />

                    4) Forumdaki mesajlarınız yöneticiler tarafından gerektiğinde silinebilir, taşınabilir ya da cevap yazılamaz hale getirilebilir. Ayrıca gerektiğinde ve forum içinde yazılan kurallar dahilinde hesabınız süresiz kapatılabilir. Üyeler bu anlaşmayı kabul ederek yönetim kararlarını kabul etmiş sayılmaktadır.  Bu yöneticilerimizin forumun düzenini sağlamak için uyguladığı yöntemlerden birisidir. Yanlış bir nedenle bu uygulamalarla karşılaştığınızı düşünüyorsanız http://forum.donanimhaber.com/support.asp adresinden yöneticilere ulaşabilir ve konunuzun ya da mesajınızın neden silindiğini öğrenmek için destek formu oluşturabilirsiniz.<br><br />

                    5) Takma isimler : Kullanıcılarımızdan, forumumuza üye olurken genel kabul gören ahlaki değerlere uygun olan bir takma ad almalarını rica ederiz. Aksi fark edildiği durumda kullanıcıya haber verilmeksizin kullanıcı adları ve hesapları silinebilir. Alınan takma adlardan dolayı sitemiz bir sorumluluk kabul etmemekte sorumluluk kayıt olan kişiye aittir.<br><br />

                    6) Forum kirliliği : Forumları kullanırken konuları, ait oldukları başlıklar altına açmanızı rica ederiz. Gereksiz başlıklar açmamaya, aynı veya benzer bir konuda daha önce başka bir başlık açılıp açılmadığını 'Arama'  fonksiyonunu kullanarak kontrol ettikten sonra başlığı açmaya, gereksiz ve flooding niteliği taşıyabilecek sıklıkta mesaj atmamaya özen gösteriniz.İç içe alıntılar yaparak forum düzenini bozmamaya özen gösteriniz. Eski tarihli konulara eğer ki mesajınız konuyla ilgiliyse mesaj atabilirsiniz. Konuyla alakasız mesaj atarak konuyu güncellemek yasaktır.<br><br />

                    7) Bu forum sistemi, bazı bilgileri bilgisayarınızda saklamak için cookie'leri kullanmaktadır. Girdiğiniz özel bilgilerin hiçbiri bu cookie'lerde bulunmamaktadır, bunların tek amacı forumda daha rahat bir gezinti yapabilmenizdir. Geçerli e-mail adresiniz sadece kaydınızı onaylamak, şifrenizi yollamak ve unuttuğunuzda şifrenizi size hatırlatabilmek için istenmektedir.<br><br />

                    8) Forumumuzun ikinci el kısmında 24 saat içersinde iki konu açmak yasaktır. Bu forum kullanıcılarına daha dağılımlı bir satış hakkı tanımak için alınmış bir karardır. Eğer ki yapılan kural ihlali moderatörler tarafından görülürse konu silinecektir. İkinci bir nick ile açan kişilerinde nickleri kitlenecektir. Tavsiyemiz satış ilanlarınızı bir araya toplamanızdır.<br><br />

                    9) Forumda Dini ve Siyasi ( Ülke Gündemi bölümü hariç) konuların geçtiği mesaj atımları yasaktır bu tür içeriklerin tartışılması yıllar süren deneyim sonrasında bir noktaya ulaşamadığı görülmüş ve gerginlik yaratması yüzünden bu konuların  tartışılması yasaktır. Eğer ki yapılan kural ihlali moderatörler tarafından görülürse konu silinecektir.<br><br />

                    10) İmza kurallarımız konu dışında üst konu olarak aktarılmıştır. İmza sınırlamaları diğer kullanıcıların foruma katılımlarını arttıracak yönde ayarlanmıştır bu yüzden kısıtlamalar aslında sizin daha yüksek forum deneyimi yaşamanızı sağlayacaktır.<br><br />

                    11) Forumumuzdaki ikinci el, alış ve satış kısımları vardır. Yalnız forum yönetiminin ve şirketinin kullanıcılar arasındaki birbirleri ile olan ilişkilerinde sorumluluğu yoktur. Dolayısıyla diğer kullanıcılarla iş ilişkisinde bulunmak ve mal alıp satmanın riski tamamen her kullanıcının kendisine ait aldığı bir risktir.<br><br />

                    12) Forum yöneticileri ve alt yapısı yazdığınız her mesajı sonsuza kadar saklamak zorunda değildir. Alt yapı sorunları ve başka sorunlar nedeniyle mesajlar silinebilir yada kaybolabilir. Kullanıcını başvururken bunları kabul etmiş sayılır.<br><br />

                    13) Forumda açıklayacağınız kişisel bilgilerinizin diğer forum kullanıcıları tarafından kötüye kullanılabileceğini bilmeniz gerekmekte ve ona göre dikkatli davranmanız gerekmektedir. Bu gibi davranışlardan dolayı forumumuz sorumlu tutulamaz tüm sorumluluk konuyla ilgili üyelerdedir.<br><br />

                    14) Forumumuzdaki hak kısıtlamaları yöneticiler tarafından değiştirilebilmektedir   bu yüzden bu yönde maddeler ilerde bu anlaşmaya eklenebilir ve kullanıcı bu maddeleri kabul etmiş sayılır.<br><br />

                    15) Sitedeki tüm harici linkler ayrı bir sayfada açılır. Sitemiz harici linklerin sorumluluğunu almaz. Linklerin verilme sorumluluğu ilgili üyeye aittir.<br><br />

                    16) Sitemizde firmalar ile ilgili yaşadığınız sorunlar, problemler hiç bir nedenle forum sayfalarında dile getirilemez. Sitemiz bu tür şikayetlerin bulunacağı, hakkın aranacağı bir kurum değildir. Lütfen ilgili kurumlara başvurunuz. Bu tür mesajlar silinebilir, kitlenebilir uyarıyı göz ardı eden üye uzaklaştırılabilir.<br><br />

                    17) Forumlarda iki farklı takma ad ve/veya hesap sahibi olmanız yasaktır. Tek bir hesap ile girmeniz, dolaşmanız ve mesaj atmanıza izin verilmektedir. Bunun dışında birden fazla üyeliği bulunan kişilerin hesapları kapatılabilir. Size ait hesabınıza herhangi bir ceza verilmişse, ceza süreniz boyunca başka bir hesapla foruma giriş yapmanız yasaktır ve fark edildiği anda asıl hesabınıza ek 7 günlük uzaklaştırma cezası verilmektedir.<br><br />

                    18) Forumumuza attığınız mesajların , üyelik iptali, cezalandırma veya uzaklaştırma gibi durumlarda silinip silinmeyeceğine kullanıcı değil yöneticiler karar verir. Kısaca hangi mesajların silinip hangilerinin silinmeyeceğine karar vermek kullanıcıya ait bir hak değildir, tüm konu veya mesajlar gerektiğinde foruma mal edilmiş sayılabilir ve veritabanında ister anonim ister gerçek isimli olacak şekilde tutulabilir. Lütfen mesajlarınızı buna göre foruma gönderiniz. Aksi takdirde forum ve yöneticiler sorumluluk kabul etmez anlaşmayı kabul ettiğinizi varsayarlar.<br><br />

                    19) Sitemize kayıt olmak için GSM Telefon numarası onayını geçmeniz gerekmektedir. Bu sistem gerçek bir kişi olduğunuzu ve sahte üyelik sahibi olmadığınızı kanıtlamak için getirilmiştir. Onaylamak için ve sonrası için hiç bir ücret alınmayacaktır.<br><br />

                    20) GSM numaranız üyeliğiniz devam ettiği sürece veya uzaklaştırılsanız bile saklı kalacaktır. Gerektiğinde süre gelen mahkemelerin istekleri doğrultusunda telefon numaranızda istediğinde yasal güçlere verilecektir. Bunun dışında üçüncü şahıs ve tüzel kişilikler, Donanım Haber çalışanlarından seçilmişler hariç olmak üzere sizden başka kimse erişmeyecektir.<br><br />

                    21) Donanım Haber GSM numaranızın güvenliğini sağlamakla yükümlüdür ve bunun için tüm imkanları kullanır. Ancak bilişim suçlarına maruz kalma durumunda güvenliğini garanti edemez.<br><br />

                    22) Donanım Haber telefon numarınıza profilinizde bulunan isteğe bağlı seçeneği seçtiğiniz durumda bilgisayar dünyasından son fırsatları bilgilendirici sms'ler atabilir. Eğer bu mesajları almak istemezseniz her zaman profilinizden değişiklik yapabilirsiniz.<br><br />

                    23) Forumda rahatsızlık verme ihtimali bulunan ya da ceza vermek üzere araştırma yapılan kişilerin özel mesajları her zaman adminler tarafından haber vermeksizin okunabilmektedir.<br><br />


                    Bilgilerinize sunduğumuz bu kurallarımızı dikkate alacağınızdan eminiz. Sizlerin ilgisiyle günden güne gelişecek olan portalımızın, alışkanlıklarınız arasına severek kattığınız günlük uğrak yeriniz olacağını umuyoruz. Sevgilerimizle...<br><br />

                    Not: Bu anlaşma metni avukatımız ve hukuk danışmanımız Av. Hüseyin Oksay'ın nezdinde hazırlanmıştır.
                </div>
            </div>
        </div>
    </div>
</body>
</html>
