﻿@{
    ViewBag.Title = "KADINİZM Ana Sayfası";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Case</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div style="padding-top:40px;"
    <div class="container">
        <div class="row">
            <!-- Carousel -->
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="http://unsplash.s3.amazonaws.com/batch%209/barcelona-boardwalk.jpg" alt="First slide">
                        <!-- Static Header -->
                        
                    </div>
                    <div class="item">
                        <img src="http://unsplash.s3.amazonaws.com/batch%209/barcelona-boardwalk.jpg" alt="Second slide">
                        <!-- Static Header -->
                        
                    </div>
                    <div class="item">
                        <img src="http://unsplash.s3.amazonaws.com/batch%209/barcelona-boardwalk.jpg" alt="Third slide">
                        <!-- Static Header -->
                        
                    </div>
                </div>
                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div><!-- /carousel -->
        </div>
    </div>
    </div>


    <div style="padding-top:20px;"
        <div class="panel-group">
            <div class="panel panel-danger">
                <div class="panel-heading"><h4>Son Mesajlar</h4></div>
                <div class="panel-body"><a href="@Url.Action("Konu","Home")">Oğlum fast-food'a bayılıyor. Ne yapmalıyım ?</a>
                    <div align="right">
                        <div style="margin-bottom:50px;">
                            <a href="@Url.Action("KonuAç","Home")" class="btn btn-info" role="button" aria-label="Konu Açmak için tıklayınız">
                                Konu Aç
                            </a>
                            <a href="@Url.Action("Konu","Home")" class="btn btn-warning" role="button" aria-label="Cevaplamak için tıklayınız">
                                Cevapla
                            </a>
                            
                        </div>
                        <div style="margin-bottom:50px;">
                            <a href="@Url.Action("KonuAç","Home")" class="btn btn-info" role="button" aria-label="Konu Açmak için tıklayınız">
                                Konu Aç
                            </a>
                            <a href="@Url.Action("Konu","Home")" class="btn btn-warning" role="button" aria-label="Cevaplamak için tıklayınız">
                                Cevapla
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
            <div class="panel panel-success">
                <div class="panel-heading"><h4>Forum</h4></div>
                <div class="panel-body"><a href="@Url.Action("Konu","Home")">Kadın Hakları</a>
                    <div align="right">
                        <div style="margin-bottom:50px;">
                            <a href="@Url.Action("KonuAç","Home")" class="btn btn-info" role="button" aria-label="Konu Açmak için tıklayınız">
                                Konu Aç
                            </a>
                            <a href="@Url.Action("Konu","Home")" class="btn btn-warning" role="button" aria-label="Cevaplamak için tıklayınız">
                                Cevapla
                            </a>
                        </div>
                        <div style="margin-bottom:50px;">
                            <a href="@Url.Action("KonuAç","Home")" class="btn btn-info" role="button" aria-label="Konu Açmak için tıklayınız">
                                Konu Aç
                            </a>
                            <a href="@Url.Action("Konu","Home")" class="btn btn-warning" role="button" aria-label="Cevaplamak için tıklayınız">
                                Cevapla
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading"><h4>Anketler</h4></div>
                <div class="panel-body"><a href="@Url.Action("Konu","Home")">Boş vakitlerinizde neler yaparsınız ?</a>
                    <div align="right">
                        <div style="margin-bottom:50px;">
                            <a href="@Url.Action("KonuAç","Home")" class="btn btn-info" role="button" aria-label="Konu Açmak için tıklayınız">
                                Konu Aç
                            </a>
                            <a href="@Url.Action("Konu","Home")" class="btn btn-warning" role="button" aria-label="Cevaplamak için tıklayınız">
                                Cevapla
                            </a>
                        </div>
                        <div style="margin-bottom:50px;">
                            <a href="@Url.Action("KonuAç","Home")" class="btn btn-info" role="button" aria-label="Konu Açmak için tıklayınız">
                                Konu Aç
                            </a>
                            <a href="@Url.Action("Konu","Home")" class="btn btn-warning" role="button" aria-label="Cevaplamak için tıklayınız">
                                Cevapla
                            </a>
                        </div>
                    </div>
            </div>

            <div class="panel panel-warning">
                <div class="panel-heading"><h4>Hobi</h4></div>
                <div class="panel-body"><a href="@Url.Action("Konu","Home")">Pilates</a>
                    <div align="right">
                        <div style="margin-bottom:50px;">
                            <a href="@Url.Action("KonuAç","Home")" class="btn btn-info" role="button" aria-label="Konu Açmak için tıklayınız">
                                Konu Aç
                            </a>
                            <a href="@Url.Action("Konu","Home")" class="btn btn-warning" role="button" aria-label="Cevaplamak için tıklayınız">
                                Cevapla
                            </a>
                        </div>
                        <div style="margin-bottom:50px;">
                            <a href="@Url.Action("KonuAç","Home")" class="btn btn-info" role="button" aria-label="Konu Açmak için tıklayınız">
                                Konu Aç
                            </a>
                            <a href="@Url.Action("Konu","Home")" class="btn btn-warning" role="button" aria-label="Cevaplamak için tıklayınız">
                                Cevapla
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            </div>
</body>
</html>
