﻿@{
    ViewBag.Title = "Konu";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Konu</title>
</head>
<body>
    <div class="panel-group">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <div style="margin-top:10px;">
                    <center><strong><h1>Konular</center></h1></strong>
                </div>
            </div>
        </div>
    </div>
    
        <div class="container">
            <div class="row">
                <section class="content">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="table-container">
                                    <table class="table table-filter">
                                        <tbody>
                                            <tr data-status="pagado">
                                                <td>
                                                    <a href="javascript:;" class="star">
                                                        <i class="glyphicon glyphicon-star"></i>
                                                    </a>
                                                </td>
                                                <td>
                                                    <div class="media">
                                                        <a href="#" class="pull-left">
                                                            <img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg" class="media-photo">
                                                        </a>
                                                        <div class="media-body">
                                                            <span class="media-meta pull-right">Ocak 10, 2016</span>
                                                            <h4 class="title">
                                                                Halil Ravikali
                                                                <span class="pull-right pagado"></span>
                                                            </h4>
<p class="summary"></p>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr data-status="pendiente">
                                            <td>
                                                <a href="javascript:;" class="star">
                                                    <i class="glyphicon glyphicon-star"></i>
                                                </a>
                                            </td>
                                            <td>
                                                <div class="media">
                                                    <a href="#" class="pull-left">
                                                        <img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg" class="media-photo">
                                                    </a>
                                                    <div class="media-body">
                                                        <span class="media-meta pull-right">Ocak 12, 2016</span>
                                                        <h4 class="title">
                                                            Uygar Keser
                                                            <span class="pull-right pendiente"></span>
                                                        </h4>
                                                        <p class="summary">Çok yararlı bir yazı olmuş. Teşekkürler</p>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr data-status="cancelado">
                                            <td>
                                                <a href="javascript:;" class="star">
                                                    <i class="glyphicon glyphicon-star"></i>
                                                </a>
                                            </td>
                                            <td>
                                                <div class="media">
                                                    <a href="#" class="pull-left">
                                                        <img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg" class="media-photo">
                                                    </a>
                                                    <div class="media-body">
                                                        <span class="media-meta pull-right">Ocak 13, 2016</span>
                                                        <h4 class="title">
                                                            Uğur Şenol
                                                            <span class="pull-right cancelado"></span>
                                                        </h4>
                                                        <p class="summary">Çok yararlı bir yazı olmuş. Teşekkürler</p>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr data-status="pagado" class="selected">
                                            <td>
                                                <a href="javascript:;" class="star star-checked">
                                                    <i class="glyphicon glyphicon-star"></i>
                                                </a>
                                            </td>
                                            <td>
                                                <div class="media">
                                                    <a href="#" class="pull-left">
                                                        <img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg" class="media-photo">
                                                    </a>
                                                    <div class="media-body">
                                                        <span class="media-meta pull-right">Ocak 13, 2016</span>
                                                        <h4 class="title">
                                                            Volkan Dinçer
                                                            <span class="pull-right pagado"></span>
                                                        </h4>
                                                        <p class="summary">Çok yararlı bir yazı olmuş. Teşekkürler</p>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr data-status="pendiente">
                                            <td>
                                                <a href="javascript:;" class="star">
                                                    <i class="glyphicon glyphicon-star"></i>
                                                </a>
                                            </td>
                                            <td>
                                                <div class="media">
                                                    <a href="#" class="pull-left">
                                                        <img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg" class="media-photo">
                                                    </a>
                                                    <div class="media-body">
                                                        <span class="media-meta pull-right">Ocak 14, 2016</span>
                                                        <h4 class="title">
                                                            Kaan Yağlı
                                                            <span class="pull-right pendiente"></span>
                                                        </h4>
                                                        <p class="summary">Çok yararlı bir yazı olmuş. Teşekkürler</p>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>
</html>
